#addImageForm
  #form-container
    form#add-image-form(action='/addImage', method='POST')
      .form-group
        label(for="file") File
        input#file.form-control(type="text" placeholder="File" name="file")
      .form-group
        label(for="title") Title
        input#title.form-control(type="text" placeholder="Title" name="title")
      .form-group
        label(for="description") Description
        input#description.form-control(type="text" placeholder="Description" name="description")
      input#file-id(type='hidden', value='', name="created_at")
      button.btn.btn-success(type="submit") Submit
