extends layout

block content
  #main
    h2 Gallery Page
    #recentImages

    ul.list-group

    form(method='POST' action='/addImage')
      form#addImageForm
        div.form-group
          label(for='image-file') Image:
          input#image-file.form-control(type='text', placeholder='file' name='file')
        div.form-group
          label(for='image-title') Title:
          input#image-title.form-control(type='text', placeholder='title' name='image-title')
        div.form-group
          label(for='image-description') Description:
          input#image-description.form-control(type='text', placeholder='description' name='image-description')
        button.btn.btn-primary(type='submit') Add Image




  #addImageForm
      form(method='POST' action='/addImage')
        div.form-group
          label(for='image') Image:
          input#image.form-control(type='text', placeholder='image' name='image')
        div.form-group
          label(for='image-title') Title:
          input#title.form-control(type='text', placeholder='title' name='image-title')
        div.form-group
          label(for='image-description') Description:
          input#description.form-control(type='text', placeholder='description' name='image-description')
          button.btn.btn-primary(type='submit') Add Image
