extends layout

block content
  #main
    h2 Images
    #recentImages
    each image in images
      #{image.imageData}

    ul.list-group






  #addImageForm
      form(method='POST' action='/addImage')
        div.form-group
          label(for='image') Image:
          input#image.form-control(type='text', placeholder='image' name='image')
        div.form-group
          label(for='image-title') Title:
          input#title.form-control(type='text', placeholder='title' name='image-title')
        div.form-group
          label(for='image-description') Description:
          input#description.form-control(type='text', placeholder='description' name='image-description')
          button.btn.btn-primary(type='submit') Add Image
